<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    <context:component-scan base-package="com.lwy.job"/>
    <!--注册job-->
    <bean class="com.lwy.job.ClearImgJob" id="clearImgJob"></bean>
    <!--注册jobdetail-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="clearImgJob"/>
        <property name="targetMethod" value="ClearImg"/>
    </bean>

    <bean class="com.lwy.job.ClearOrderSettingJob" id="clearOrderSettingJob"></bean>
    <bean id="jobDetailOder" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="clearOrderSettingJob"/>
        <property name="targetMethod" value="clearOrderSetting"/>
    </bean>
    <!--注册触发器-->
    <bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" id="trigger">
        <property name="jobDetail" ref="jobDetail"></property>
        <property name="cronExpression">
            <value>0/15 * * * *  ?</value>
        </property>
    </bean>
    <bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" id="trigger1">
        <property name="jobDetail" ref="jobDetailOder"></property>
        <property name="cronExpression">
            <value>0 0 2 L * ? </value>
        </property>
    </bean>
    <!--调度器工厂-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" id="scheduler">
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
                <ref bean="trigger1"/>
            </list>
        </property>
    </bean>
    <import resource="classpath:spring-redis.xml"/>
</beans>